.git
.github
node_modules
vendor
public/build
public/hot
public/storage
storage/*.key
storage/pail
.env
.env.backup
.env.production
.env.docker.example
*.log
.phpunit.cache
.phpunit.result.cache
.idea
.vscode
.zed
.fleet
.nova
Homestead.json
Homestead.yaml
auth.json
_ide_helper.php
